body {
  background-image: url("../img/background-body.png");
  font-family: "Cicle-Fina";
  font-size: 16px; }

.content {
  max-width: 1045px;
  margin: 0 auto; }

.body__header {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 45px;
  height: 62px; }
  .body__header .header__logo {
    display: flex;
    align-items: flex-end; }
    .body__header .header__logo .header__icon {
      margin-right: 20px; }
    .body__header .header__logo .header__slogan {
      font-family: "Source-Sans";
      font-weight: 300; }
      .body__header .header__logo .header__slogan span {
        font-weight: 700; }
  .body__header .navigation {
    display: flex; }
    .body__header .navigation .navigation__section {
      margin-left: 15px;
      padding-left: 15px;
      position: relative; }
      .body__header .navigation .navigation__section::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 5px;
        background-image: url("../img/header-arrow.png"); }
      .body__header .navigation .navigation__section a {
        font-family: "Cicle-Fina";
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000; }

.media {
  width: 100%;
  height: 550px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #faa61a; }
  .media .media__title {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 124px;
    text-transform: uppercase; }
