body {
    background-image: url("../img/background-body.png");
    font-family: "Cicle-Fina";
    font-size: 16px;
}

.content {
    max-width: 1045px;
    margin: 0 auto;
}

.body__header {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 45px;
    height: 62px;

    .header__logo {
        display: flex;
        align-items: flex-end;

        .header__icon {
            margin-right: 20px;
        }

        .header__slogan {
            font-family: "Source-Sans";
            font-weight: 300;

            span {
                font-weight: 700;
            }
        }
    }

    .navigation {
        display: flex;

        .navigation__section {
            margin-left: 15px;
            padding-left: 15px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translate(-50%, -50%);
                width: 7px;
                height: 5px;
                background-image: url("../img/header-arrow.png");
            }

            a {
                font-family: "Cicle-Fina";
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.media {
    width: 100%;
    min-height: 550px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 38px;
    background-color: #faa61a;
    position: relative;

    .media__title {
        font-family: "Helvetica";
        font-weight: 400;
        font-size: 124px;
        text-transform: uppercase;
        
    }

    .media__inner {
        display: flex;
        justify-content: space-between;
    }
}



.clients {
    max-width: 635px;
    display: flex;
    position: relative;
    margin-right: 10px;
    
    .clients__object {
        width: 68.28%;
        min-height: 364px;
        
        img {
            display: inline-block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .clients__title{
        position: absolute;
        top: 17px;
        left: -20px;
        background-color: rgba($color: #000000, $alpha: 0.8);
        font-family: "Cicle-Fina-italic";
        font-weight: 400;
        color: #fff;
        padding: 5px;
    }

    .clients__inner {
        background-color: #000;
        color: #fff;
        width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        padding-bottom: 25px;

        .clients__sidebar {

            .clients__section {

                h3 {
                    display: inline-block;
                    background-color: #fff;
                    color: #000;
                }

                p {
                    margin-top: 7px;
                    margin-bottom: 14px;
                    padding-left: 5px;

                }
            }
        }
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    margin-left: 10px;
    padding-bottom: 50px;
    width: 30.51%;
    position: relative;

    h2 {
        font-family: "Source-Sans";
        font-weight: 700;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 15px;
    }

    img {
        width: 100%;
    }

    p {
        font-size: 16px;
        line-height: 20px;
        margin-left: 15px;
        margin-top: 18px;
    }

    a {
        font-family: "Colab";
        font-weight: 400;
        font-size: 14px;
        position: absolute;
        bottom: 13px;
        right: 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-left: 5px;
        width: 100px;
        height: 23px;
        background-color: #000;
        color: #fff;

        &::after{
            position: absolute;
            right: 0px;
            content:"";
            background-color: #faa61a;
            width: 25px;
            height: 100%;
            background-image: url(../img/project-arrow.png);
            background-repeat: no-repeat;
            background-position: center;

        }
    }
}
